include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include iyzipay_integration *.css
recursive-include iyzipay_integration *.csv
recursive-include iyzipay_integration *.html
recursive-include iyzipay_integration *.ico
recursive-include iyzipay_integration *.js
recursive-include iyzipay_integration *.json
recursive-include iyzipay_integration *.md
recursive-include iyzipay_integration *.png
recursive-include iyzipay_integration *.py
recursive-include iyzipay_integration *.svg
recursive-include iyzipay_integration *.txt
recursive-exclude iyzipay_integration *.pyc